// https://github.com/nuxt/eslint-config
// https://nuxt-security.vercel.app/documentation/advanced/good-practices
{
    "plugins": ["security-node", "anti-trojan-source"],
    "extends": [
        "@nuxtjs/eslint-config-typescript",
        "plugin:security-node/recommended",
        "plugin:anti-trojan-source/recommended"
    ],
    "rules": { "vue/multi-word-component-names": "off" }
}