{{- if eq .Values.database.type "operator" }}
apiVersion: k8s.mariadb.com/v1alpha1
kind: MariaDB
metadata:
  name: {{ include "terminal.mariadb.fullname" . }}
  labels:
    {{- include "terminal.mariadb.labels" . | nindent 4 }}
spec:
  database: {{ .Values.database.name | quote }}
  port: {{ .Values.database.port }}
  service:
    type: ClusterIP

  rootPasswordSecretKeyRef:
    name: {{ include "terminal.mariadb.secretFullname" . }}
    key: MARIADB_ROOT_PASSWORD

  username: {{ .Values.database.credentials.user | quote }}
  passwordSecretKeyRef:
    name: {{ include "terminal.mariadb.secretFullname" . }}
    key: MARIADB_PASSWORD

  storage:
    size: {{ .Values.database.operator.storage.size }}
    {{- if .Values.database.operator.storage.storageClassName }}
    storageClassName: {{ .Values.database.operator.storage.storageClassName | quote }}
    {{- end }}

  {{- if .Values.database.operator.myCnf }}
  myCnf: |
{{- .Values.database.operator.myCnf | nindent 4 }}
  {{- end }}

  {{- with .Values.database.operator.resources }}
  resources:
    {{- toYaml . | nindent 4 }}
  {{- end }}

  metrics:
    enabled: {{ .Values.database.operator.metrics.enabled }}

  tls:
    enabled: {{ .Values.database.operator.tls.enabled }}
{{- end }}
